.navbar {
    background-color: #c2bebe;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    background-color: #c2bebe;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-brand a {
    background-color:#c2bebe;
    color: #fffefe;
    font-weight: bold;
    text-decoration: none;
    font-size: 44px;
  }
  
  .navbar-menu {
    background-color:#c2bebe;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .navbar-links {
    background-color: #7b7979;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-links li {
    background-color: #7b7979;
    margin-left: 10px;
  }
  
  .navbar-links a {
    background-color: #7b7979;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
    background-color: rgb(37, 55, 55);
  }
  