.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #716d6d;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dropdown h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .dropdown form {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .dropdown input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #6d6969;
    border-radius: 4px;
  }
  
  .dropdown button[type="submit"] {
    padding: 10px 20px;
    background-color: #e9d8d8;
    color: #0e0e0e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .notification {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    animation: fadeOut 2s ease-in-out;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  